
body {
    font-family: 'Manrope', sans-serif;
    background: #eee;
    margin: 0;
    padding: 0;
}


.topnav {
    overflow: hidden;
    background-color: #f04e23;
    height:75px;
    padding: 0 50px;
  }
  .topnav img{
    padding-right: 5px;
    float: left;
    width: 150px;
    height: 80px;
}
   .form-inline  {
    /* width: 400px; */
    float:right;
  }
.topnav .icon-cart{
    font-size: 20px;
}
  .form-inline input  {
    padding: 8px;
    width: 200px;
    border: none;
    margin: 20px 0;
    margin-right: 20px;
    font-size: 14px;
    border-radius: 5px;
    font-family: inherit;
  }
  .topnav .btn{
      background-color: white;
      color: tomato;
      width: 50px;
      height: 35px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 28px 16px;
    text-decoration: none;
    font-size: 15px;
    width:120px;
  }
  
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  .topnav a.active {
    background-color: white;
    color: black;
  }
.cart{
    padding: 20px 50px;
    width: 900px;
}
