body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #f04e23;
    height:75px;
    padding: 0 50px;
  }
  .topnav {
    overflow: hidden;
    background-color: #f04e23;
    height:75px;
    padding: 0 50px;
  }
  .topnav-left img{
    padding-right: 5px;
    float: left;
    width: 150px;
    height: 80px;
}
   .form-inline  {
    /* width: 400px; */
    float:right;
  }
.topnav-right .icon-cart{
    font-size: 20px;
    color: white;
}
  .form-inline input  {
    padding: 8px;
    width: 200px;
    border: none;
    margin: 20px 0;
    margin-right: 20px;
    font-size: 14px;
    border-radius: 5px;
    font-family: inherit;
  }
  .topnav-left .btn{
      background-color: white;
      color: tomato;
      width: 50px;
      height: 35px;
  }
  
  .topnav-left a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 28px 16px;
    text-decoration: none;
    font-size: 15px;
    width:120px;
  }
  
  .topnav-left a:hover {
    background-color: white;
    color: black;
  }
  
  .topnav-left a.active {
    background-color: white;
    color: black;
  }
  .topnav-right{
      margin: 26px 30px;
      float:right;
  }
  .topnav-right a{
      color: #000;
      padding-right: 10px;
  }
  .topnav-right a:hover{
    color: white;
}
.banner{
  width: 100%;
  padding: 0 50px;
}
.banner img{
  width: 100%;

}
.branch{
  padding: 30px 100px;
  width: 100%;
  display: flex;
}
.branch img{
  width: 150px;
  height: 30px;
  margin-left: 50px;
  
}
  /* CONTENT */
.list-pro{
    height: auto;
    padding: 10px 70px;
    position: relative;
    width: 100%;
}
.pro-item{
    height: 340px;
    width: 200px;
    float: left;
    background-color: white ;
    transition-property: transform ;
    display: flex;
    position:relative;
    margin: 15px 12px 0;
    text-align: center;
}

.pro-item-img{
    margin: auto;
}

.pro-item:hover .product {
    transform: translateY(-15px);
}
.pro-item:hover {
    box-shadow: 0px 0px 3px 3px gray;
}
.list-pro img{
    width: 100%;
}
/* xem chi tiết */
.xct{
  width: 150px;
  height: 30px;
  border: 1px solid rgb(75, 74, 74);
  margin:  0 auto;
  background-color: #ececec;
  border-radius: 7px;
}
.xct a{
  color: #f85e33;
  font-weight: bold;

}
.xct:hover{
  background-color: rgb(211, 54, 15);
}
.xct:hover a{
  color: white;
  text-decoration: none;
}
.name{
  font-size: 16px;
  color: black;
  margin: 9px 0;
  text-transform:  uppercase;
  font-weight: bold;

}
.price{
  font-family: cursive;
  font-size: 17px;
  color: rgb(255, 19, 19);
}

/* detail product */
.detail{
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 10px 100px;
  font-family: 'Poppins', sans-serif;
}
.container{
  display: flex;
  width: 100%;
  margin: 0 auto;
}


.product-name {
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 4px;
}
.product-price-discount {
  font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}
.product-price-discount span.line-through {
  text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}
.display-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.product-info {
  width: 100%;
}

.reviews-counter {
    font-size: 13px;
}
.reviews-counter span {
  vertical-align: -2px;
}
.rate {
    float: left;
    padding: 0 10px 0 0;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color:#ccc;
  margin-bottom: 0;
  line-height: 21px;
}
.rate:not(:checked) > label:before {
    content: '\2605';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.product-dtl p {
  font-size: 15px;
  line-height: 24px;
  color: #7a7a7a;
}
.product-dtl .form-control {
  font-size: 15px;
}
.product-dtl label {
  line-height: 16px;
  font-size: 15px;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}
.product-count {
  margin-top: 15px; 
}
.product-count .qtyminus,
.product-count .qtyplus {
    width: 35px;
    height: 35px;
    background: #212529;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.product-count .qtyminus {
  border-radius: 3px 0 0 3px; 
}
.product-count .qtyplus {
  border-radius: 0 3px 3px 0; 
}
.product-count .qty {
  width: 60px;
  text-align: center;
}
.round-black-btn {
  border-radius: 4px;
    background: #212529;
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529; 
    transition: all 0.5s ease-in-out 0s;
}
.round-black-btn:hover,
.round-black-btn:focus {
  background: transparent;
  color: #212529;
  text-decoration: none;
}

.img-list ul{
  display: flex;
  padding-top:25px;
}
.img-list ul li  {
  list-style: none;
  padding-left: 5px;
}
.img-list ul li img {
  width: 100px;
}
.img-list ul li img:hover{
  border: 1px solid chocolate;
}

/* IMAGE */
.content-footer{
  width: 100%;
  padding-top: 35px;
}
.content-footer .list-image{
  margin: 0 100px;
}
.content-footer-title{
  width: 700px;
  text-align: center;
  margin: 0 auto;
}
.content-footer-title h3{
  font-size: 33px;
  color:#7a7a7a;
}

.content-footer-img {
  position: relative;
  display: inline-block;
  height: 300px;
  margin: 10px 0;
}

.content-footer-img img {
  height: auto;
  width: 260px;
  height: 320px;
}

.overlay {
  position: absolute; 
  bottom: -20px; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8); 
  color: #f1f1f1; 
  width: 260px;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 17px;
  padding: 20px;
  text-align: center;
}

.content-footer-img:hover .overlay {
  opacity: 1;
}
/* FOOTER */
#footer{
  padding-top: 25px ;
  width: 100%;
  position: relative;
}
.footer-top{
  height: 70px;
  background-color: #f04e23;
  display: block;
  padding: 0 200px;
  width:100%;
}
#footer li{
  padding: 10px 10px;
  list-style: none;
}
#footer a{
  text-decoration: none;
}
.footer-item{
  display: inline-block;
  padding: 0 15px;
}
.footer-item li{
  font-size: 20px;
  display: inline-block;

}
.footer-item .fas{
  font-size: 40px;
  color: black;
}
.footer-center{
  padding: 25px 180px 0;
  margin: auto;
}
.footer-tel, .footer-addr, .footer-policy  {
  padding:0 30px;
}
.footer-icon{
  padding-left: 30px;
}
.footer-tel{
  width: 280px;
  padding-right: 20px;
  display: inline-block;
}
.footer-tel li{
  display: inline-block;
  font-size: 30px;
  color: sienna;
}

.footer-tel .fas {
  font-size: 25px;
  color: sienna;
}
.footer-addr{
  width: 300px;
  display: inline-block;
  position: relative;
  line-height: 25px;
}
.footer-addr .fas{
  color: black;
  font-size: 19px;
}
.footer-policy{
  width: 300px;
  display: inline-block;
  position: relative;
}
.footer-policy a{
  color: black;
}
.footer-policy a:hover{
  color: brown;
}
.footer-icon {
  position: relative;
  text-align: center;
}
.footer-icon li{
  display: inline-block;
  font-size: 25px;
}

