/* LOGIN */
#login {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #fff 10%, rgba(41, 115, 138, 0.4) 90%) no-repeat;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: white;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  