
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    background-color: #eee;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to top, #fff 10%, rgba(93, 42, 141, 0.4) 90%) no-repeat
}

.wrapper {
    max-width: 550px;
    border-radius: 10px;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 20px 20px 80px rgb(206, 206, 206)
}

.h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 3.0rem;
    font-weight: bold;
    color: #7b2ee8;
    text-shadow: 0 0 2px #a069ee;
    font-style: italic
}

.h5 {
    color: #555;
    margin: 0
}

.form-control {
    border: 1.5px solid #7b2ee8
}

.form-control:focus {
    box-shadow: none
}

.info::after {
    content: "*";
    color: #ff0000
}

.button-section .btn {
    background-color: #fff;
    border-radius: 20px;
    border: 1.5px solid #7b2ee8;
    padding: 5px 15px
}

.button-section .btn.btn-primary {
    background-color: #7b2ee8;
    color: #eee
}

.button-section .btn:hover {
    background-color: white;
    color: black;
}

.remember {
    border: 1px solid #b32ee8
}

.gender-l {
    margin: 0
}

#male {
    display: none
}

input[type="radio"] {
    visibility: hidden
}

input[type='radio']:checked {
    background-color: #e07127
}

.btn.btn-primary {
    background-color: #fff;
    color: #555;
    border: 1px solid #e84a2e;
    width: 115px
}

.btn.btn-primary:hover {
    background-color: #ee6525;
    color: #fff
}


